[ESDK]
friendlyname = "CHANGEME"
gps = false
latitude = 0.0
longitude = 0.0
debug = false

[local]
csv = false
logging = "off"

[mqtt]
broker = "localhost"
basetopic = "airquality"
username = ""
password = ""

[loki.private]
instance = ""
key = ""
url = ""
